<footer class="container-fluid bg-light mt-5">
    <div class="row">
        <div class="col-12 my-4">
            <p class="text-center">&copy; 2021 <a rel="noreferrer" class="text-primary" href="https://iwebprod.fr" target="_blank">IwebProd.fr</a>  |  <a class="text-primary" href="#">Mentions légales</a></p>
        </div>
    </div>
</footer>