{% extends 'base.html.twig' %}

{% block title %}Tricks
{% endblock %}

{% block body %}
	<h1 id="tricks" class="text-center my-5">Tricks</h1>
	{{ render(path('trick_page_with_limit', {page: 1, limit: 10})) }}
	<span class="w-100  d-flex justify-content-center">
		<a href="#" class="btn btn-primary w-70" id="loadmore">
			<i class="fas fa-spinner"></i>
			Afficher plus de tricks</a>
	</span>

	{# <a href="" id="loadmore" class="btn btn-primary text-center" role=" button">En voir plus</a> #}


{% endblock %}
{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{ asset('js/loadmore.js') }}"></script>


{% endblock %}
