{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}

    {{ form_start(requestForm) }}
    <fieldset class="userInterface" align="center">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Réinitialisez votre mot de passe</h1>
        {{ form_row(requestForm.username, {'attr': {'autofocus' : true}, 'label': 'Votre nom d\'utilisateur'}) }}
        <div>
            <small>
                Entrez votre nom d'utilisateur et nous vous enverrons un e-mail avec un
                 lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary mt-3">Envoyer un e-mail de réinitialisation de mot de passe</button>
    </fieldset>
    {{ form_end(requestForm) }}
{% endblock %}
