{% extends 'base.html.twig' %}

{% block title %}Modifier Commentaire{% endblock %}

{% block body %}
<div class="row mt-5">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			{{ form_start(formComment) }}
			<fieldset class="userInterface" align="center">
				<h1 class="mb-4">Modifier le commentaire</h1>
				{{ form_row(formComment.content, {'attr': {'placeholder': "Votre commentaire sur le Trick", 'autofocus' : true, 'rows' : '4'}, 'label': "Ajouter un commentaire"})}}
					<button type="submit" class="btn btn-success my-2">Modifier votre commentaire</button>
			</fieldset>
			{{ form_end(formComment) }}
		</div>
		<div class="col-lg-2"></div>
	</div>
{% endblock %}
