h1 {
  color: blue;
}

.banner {
  margin: 0;
  padding: 0;
  position: relative;
}

.bannerPicture img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 20px auto;
}

.inner-banner {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color: #fff;
  text-shadow: 2px 2px 30px #000;
}

.logo {
  width: 150px;
}

.logo_2 {
  width: 25%;
  filter: drop-shadow(10px 10px 5px #000);
}

fieldset.userInterface {
  border: 2px solid blue;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.336);
}
