{% extends 'base.html.twig' %}

{% block title %}Hello Strick{% endblock %}

{% block body %}
<h1 id="tricks" class="text-center my-5">Trick</h1>
	
	<div class="row">
				<div class="col-lg-12">
				<div class="card shadow-lg">
					<img src="http://via.placeholder.com/1600x900" class="card-img-top" alt="Mute">
					<div class="card-body">
						<h5 class="card-title">Mute</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, soluta corrupti, nostrum quibusdam error ullam aspernatur cupiditate excepturi reiciendis rem minus quos voluptates repellendus fugiat nobis ipsa nisi provident tempora, molestiae molestias delectus sunt. Incidunt impedit nesciunt blanditiis, nisi animi illo doloremque id? A doloribus, animi aliquam, sint ea quisquam saepe, dignissimos ipsum cum quos voluptates culpa praesentium eius nemo maxime voluptatibus quibusdam. Voluptatum, odio. Totam adipisci accusamus explicabo voluptatum quod incidunt nostrum vero id facere. Sed consectetur aut ipsam, quis, tenetur blanditiis doloribus quibusdam est sapiente necessitatibus minus recusandae ratione culpa iste illo! Quos iusto distinctio nisi enim, quasi nobis saepe nostrum eum, odit et vero sequi aperiam ut architecto odio dicta explicabo perspiciatis amet culpa. Dolor optio excepturi soluta rem atque. Quae itaque veniam est asperiores sapiente deserunt, quaerat ea alias, laborum tempora explicabo nemo quasi. Exercitationem ipsa eius repellat culpa, ad dolorum maxime voluptates totam adipisci tempora?
                        Commodi aperiam doloribus porro maxime quam sapiente, aspernatur deserunt fuga expedita nam alias voluptate vitae recusandae error neque qui sunt illo. Ipsum, minima? Non unde blanditiis rerum vero, sint fugiat iste veritatis ullam tempora, quibusdam aut consequuntur, excepturi illum ducimus minima voluptate autem voluptates voluptatibus eos voluptatum quasi eligendi a pariatur. Totam magnam sit iure eos libero dolorem explicabo voluptas aspernatur recusandae impedit dolor, expedita quidem magni deleniti amet ipsum, qui nobis quisquam sint. Accusantium pariatur corporis minus dolorum debitis eum fugiat esse ea optio sed. Fuga dolorum sequi reiciendis cum officiis repellendus id totam nemo earum consectetur blanditiis dicta praesentium modi, iusto adipisci obcaecati tempore vel, expedita enim libero alias! Esse ullam quos eaque fugiat, corporis deleniti voluptatibus voluptate ad quam debitis at animi eos veritatis nam nobis blanditiis, ut inventore minus quis perspiciatis aspernatur adipisci quibusdam enim sint. Beatae voluptatem quidem at consectetur, inventore molestias saepe necessitatibus ducimus?
                        Voluptatibus id ad, dolores quod, expedita repellendus amet odit recusandae magni quo eos enim voluptas labore ducimus similique architecto nam, optio rerum perspiciatis at porro nulla sit explicabo. Eum natus quisquam officia consequatur commodi culpa? Architecto recusandae eius ad eum tempore. Quo, laboriosam? Labore ipsa tempora eum error expedita illo nulla ipsam quam, exercitationem delectus, saepe assumenda id possimus voluptatem, nobis dolorem. Laudantium voluptates alias nostrum! Et laborum consequatur voluptas libero amet aperiam sit, ipsum eum atque quaerat perferendis nam facere velit officiis officia itaque nemo consectetur sed unde! Ullam iure vel dicta? Quos molestiae deleniti assumenda quo explicabo dolorem aspernatur temporibus rem veritatis omnis, iure culpa recusandae vero! Dolores officiis consequuntur qui debitis! Praesentium tenetur commodi numquam eveniet ea dicta aperiam eligendi temporibus cum porro. Praesentium corrupti quos numquam sequi repudiandae amet placeat, saepe totam reprehenderit minus architecto recusandae facilis voluptatem perferendis hic temporibus aperiam laborum! Blanditiis, natus dolores.</p>
						
					</div>
				</div>
			</div>
		</div>
{% endblock %}
