{% extends 'base.html.twig' %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}

		<h1>LA PAGE N'EXISTE PAS</h1>
		<a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
	
{% endblock %}
